<ion-header>
  <ion-toolbar color="light">
    <ion-title>Detalle</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>{{tarea.description}}</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      <h3>Lugar: {{tarea.place}}</h3>
      <h3>Hora: {{tarea.time}}</h3>
      <ion-chip color="danger" *ngIf="!tarea.active">
        <ion-label>No realizado</ion-label>
      </ion-chip>
      <ion-chip color="success" *ngIf="tarea.active">
        <ion-label>Realizada</ion-label>
      </ion-chip>
    </ion-card-content>
    
  </ion-card>
</ion-content>
