<ion-header [translucent]="true">
  <ion-toolbar  color="light">
    <ion-title>
      Lista
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <ion-list>
    <ion-list-header>
      <ion-label>Todos las Tareas</ion-label>
    </ion-list-header>

    <ion-item>
      <ion-label position="floating">Buscar</ion-label>
      <ion-input type="text" [(ngModel)]="search" (keyup)="filter()"></ion-input>
    </ion-item>
    
    <div *ngFor="let tareas of tarea; index as i">
      <ion-item-sliding (ionSwipe)="changeStatus(i)">
        <ion-item (click)="view(tareas)" *ngIf="(!active)||(active && tareas.active)"> 
          <ion-avatar slot="start">
            <img [src]="tareas.data"/>
        </ion-avatar>
          <ion-label>{{tareas.description}}</ion-label>
          <ion-chip color="success" *ngIf="tareas.active">
            <ion-label>Realizada</ion-label>
          </ion-chip>
          <ion-chip color="danger" *ngIf="!tareas.active">
            <ion-label>No realizada</ion-label>
          </ion-chip>
        </ion-item>

        <ion-item-options>
        </ion-item-options>

      </ion-item-sliding>
      
    </div>
  </ion-list>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button color="light">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
    <ion-fab-list side="top">
      <ion-fab-button color="secondary" (click)="newTareas()">
        <ion-icon name="add-circle-sharp"></ion-icon>
      </ion-fab-button>
    </ion-fab-list>
  </ion-fab>

</ion-content>