<ion-header [translucent]="true">
  <ion-toolbar  color="light">
    <ion-title>
      Lista
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Lista</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-list>
    <ion-list-header>
      <ion-label>Todos las Tareas</ion-label>
    </ion-list-header>
    <div *ngFor="let tareas of tarea; index as i">
      <ion-item-sliding (ionSwipe)="changeStatus(i)">
        <ion-item (click)="view(tarea)" *ngIf="(!active)||(active && student.active)"> 
          <ion-avatar slot="start">
            <img [src]="tareas.data"/>
        </ion-avatar>
          <ion-label>{{tareas.description}}</ion-label>
          <ion-chip color="success" *ngIf="tareas.active">
            <ion-label>Realizada</ion-label>
          </ion-chip>
          <ion-chip color="danger" *ngIf="!tareas.active">
            <ion-label>No realizada</ion-label>
          </ion-chip>
        </ion-item>

        <ion-item-options>
        </ion-item-options>

      </ion-item-sliding>
      
    </div>
  </ion-list>

</ion-content>