<ion-header>
  <ion-toolbar>
    <ion-title>Nueva tarea</ion-title>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form class="ion-padding" [formGroup]="myForm">
    <ion-list>

      <ion-item>
        <ion-label position="floating">Descripcion</ion-label>
        <ion-input type="text" formControlName="description"></ion-input>
      </ion-item>
      <ion-item *ngIf="myForm.get('description').errors && (myForm.get('description'
      ).dirty || myForm.get('description').touched || submitted)">
        <ion-label color="danger">Descripcion muy larga</ion-label>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Link fotografia</ion-label>
        <ion-input type="text" formControlName="data"></ion-input>
      </ion-item>
      <ion-item *ngIf="myForm.get('data').errors && (myForm.get('data'
      ).dirty || myForm.get('data').touched || submitted)">
        <ion-label color="danger">Link erróneo</ion-label>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Hora</ion-label>
        <ion-input type="text" formControlName="time"></ion-input>
      </ion-item>
      <ion-item *ngIf="myForm.get('time').errors && (myForm.get('time'
      ).dirty || myForm.get('time').touched || submitted)">
        <ion-label color="danger">Hora errónea</ion-label>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Lugar</ion-label>
        <ion-input type="text" formControlName="place"></ion-input>
      </ion-item>
      <ion-item *ngIf="myForm.get('time').errors && (myForm.get('place'
      ).dirty || myForm.get('place').touched || submitted)">
        <ion-label color="danger">Lugar erróneo</ion-label>
      </ion-item>

    </ion-list>
    <ion-button (click)="saveTareas()" expand="block" shape="round">
      Guardar
    </ion-button>
  </form>
</ion-content>